.pic img {
    width: 100%;
    object-fit: cover;
}

.a-sec {
    background-color: #ffff;
    padding: 40px 80px;
    margin-top: -4px;
}

.a-sec .a-top {
    display: flex;
    justify-content: space-between;
}

.a-top .a-top-left h3 {
    width: 600px;
    font-size: 40px;
}

.a-top .a-top-right p {
    width: 500px;
}